/// Themes map
/// @type Map
$themes: (
  swarmLight: (
    brandColor: $brand-black,
    backgroundColor: $brand-lightgrey,
    backdropBackgroundColor: $brand-black,
    loaderBackground: $brand-lightgrey,
    sidePanelColor: $color-white-text,
    tileColor: $main-background-color,
    tileBorder: $color-border-grey-light,
    textColor: $color-black-text,
    leftIconsBgColor: $brand-black,
    modalBackgroundColor: $color-white-text,
    modalTextColor: $color-black-text,
    linkColor: $color-a-href,
    linkOnHoverColor: $color-a-href-on-hover,
    agreeRelationColor: $color-brand-dark-green,
  ),
  swarmDark: (
    brandColor: $brand-black,
    backgroundColor: $brand-grey-dark-2,
    backdropBackgroundColor: $brand-black,
    loaderBackground: $brand-grey-dark-2,
    sidePanelColor: $brand-grey-dark-1,
    tileColor: $brand-black,
    tileBorder: $color-border-grey-light,
    textColor: $color-white-text,
    modalBackgroundColor: $brand-black,
    modalTextColor: $color-white-text,
    linkColor: $color-a-href,
    linkOnHoverColor: $color-a-href-on-hover,
    agreeRelationColor: $color-argument-agree,
  ),
  darkBlue: (
    brandColor: $color-brand-dark,
    backgroundColor: $son-background-color,
    backdropBackgroundColor: $color-background-son,
    loaderBackground: $son-background-color,
    sidePanelColor: $color-brand-secondary,
    tileColor: $son-background-color,
    tileBorder: $color-border-grey-light,
    textColor: $color-white-text,
    leftIconsBgColor: rgba(1,1,1,0),
    modalBackgroundColor: $color-white-text,
    modalTextColor: $color-black-text,
    linkColor: $color-a-href,
    linkOnHoverColor: $color-a-href-on-hover,
    agreeRelationColor: $color-argument-agree,
  ),
);